{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="formBase">
      <div class="form-container">
        <div class="header">
          <h2>Preencha seus Dados Pessoais</h2>
        </div>
  
        <form id="form" class="form" action="{{url_for('processar_dados')}}" method="post">

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="form-control">
            <label for="nome">Nome Completo:</label>
            {{ form.nome.label }} {{ form.nome(size=40, placeholder="Digite seu nome completo...", required=True) }}
          </div>
      
          <div class="form-control">
            <label for="email">Endereço de Email:</label>
            {{ form.email.label }} {{ form.email(size=40, placeholder="Digite seu email...", required=True) }}
          </div>
      
          <div class="form-control">
            <label for="telefone">Número de Telefone:</label>
            {{ form.telefone.label }} {{ form.telefone(size=20, placeholder="Digite seu número de telefone...", required=True, maxlength=11) }}
          </div>
  
          <button type="submit">Enviar</button>
        </form>
      </div>
  
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}