{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="formBase">
      <div class="form-container">
        <div class="header">
          <h2>Preencha seus Dados Pessoais</h2>
        </div>
  
        <form id="form" class="form">
          <!-- Dados Pessoais do Cliente -->
          <div class="form-control">
            <label for="nome">Nome Completo:</label>
            <input
              type="text"
              id="nome"
              placeholder="Digite seu nome completo..."
              required
            />
          </div>
  
          <div class="form-control">
            <label for="email">Endereço de Email:</label>
            <input
              type="email"
              id="email"
              placeholder="Digite seu email..."
              required
            />
          </div>
  
          <div class="form-control">
            <label for="telefone">Número de Telefone:</label>
            <input
              type="tel"
              id="telefone"
              placeholder="Digite seu número de telefone..."
            />
          </div>
  
          <button type="submit">Enviar</button>
        </form>
      </div>
  
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}