{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="fieldContentText">
    <div class="textIndex">
        <h1>PESQUISA DE CAMPO </br>EM VITÓRIA DA CONQUISTA </h1>
        
    </div>

    <a href="{{ url_for('form') }}" class="buttonIndex">
        <p>Faça um orçamento e contrate!</p>
    </a>
</div> 

<div class="textDescription">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text eversince. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </p>
</div>

{% endblock %}