<!-- templates/navbar.html -->
<nav>
    <div class="navbar">
        <a>
            <lord-icon
                src="https://cdn.lordicon.com/cnpvyndp.json"
                trigger="hover"
                style="width:40px;height:40px; filter: brightness(10000%); cursor: pointer;">
            </lord-icon>
        </a>
        <a><h3> PESQUISAS.COM </h3> </a>
        
        <a id="userIcon" class="perfilNav">
            <lord-icon
                src="https://cdn.lordicon.com/kthelypq.json"
                trigger="hover"
                style="width:40px;height:40px; filter: brightness(10000%); cursor: pointer;">
            </lord-icon>
        </a>
    </div>
</nav>
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}">
